@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Connexion sécurisé</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Connexion &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pour commencer</h2>
        <p>
            Bienvenue sur notre site web sécurisé ou nous garderons vos informations personnelles de façon sécuritaire!
        </p>
        <p><a class="btn btn-default" href=@Html.ActionLink("Register", "Register", "Account") > &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Plus d'informations</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Achat en ligne</h2>
        <p>Vous pouvez faire des achats en ligne avec notre site!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Plus &raquo;</a></p>
    </div>
</div>